@import '../../index.scss';

.card{
  flex-basis: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  
  img{
    width: 100px;
    height: 100px;
    margin-left: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid $shadow-color;
  }
}

.text-area{
  margin-left: 1rem;
}

.product-name{
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.price{
  font-size: 0.9rem;
  font-weight: 600;
}

.faded{
  font-size: 0.8rem;
  color: $shadow-color
}