@import "../../index.scss";

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  height: 70px;
  border-bottom: 1px solid $shadow-color;
}

img{
  height: 50px;
  width: auto;
}